
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHorarioFuncionamentoLabel" data-translate="acaipdejhipsterApp.horarioFuncionamento.home.createOrEditLabel">Create or edit a Horario Funcionamento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.horarioFuncionamento.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.horarioFuncionamento.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="acaipdejhipsterApp.horarioFuncionamento.diaInicio" for="field_diaInicio">Dia Inicio</label>
            <input type="text" class="form-control" name="diaInicio" id="field_diaInicio"
                    ng-model="vm.horarioFuncionamento.diaInicio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="acaipdejhipsterApp.horarioFuncionamento.diaFim" for="field_diaFim">Dia Fim</label>
            <input type="text" class="form-control" name="diaFim" id="field_diaFim"
                    ng-model="vm.horarioFuncionamento.diaFim"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="acaipdejhipsterApp.horarioFuncionamento.horarioInicio" for="field_horarioInicio">Horario Inicio</label>
            <input type="text" class="form-control" name="horarioInicio" id="field_horarioInicio"
                    ng-model="vm.horarioFuncionamento.horarioInicio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="acaipdejhipsterApp.horarioFuncionamento.horarioFim" for="field_horarioFim">Horario Fim</label>
            <input type="text" class="form-control" name="horarioFim" id="field_horarioFim"
                    ng-model="vm.horarioFuncionamento.horarioFim"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="acaipdejhipsterApp.horarioFuncionamento.delivery" for="field_delivery">Delivery</label>
            <input type="checkbox" class="form-control" name="delivery" id="field_delivery"
                    ng-model="vm.horarioFuncionamento.delivery"
                     />
        </div>

        <div class="form-group">
            <label data-translate="acaipdejhipsterApp.horarioFuncionamento.estabelecimento" for="field_estabelecimento">Estabelecimento</label>
            <select class="form-control" id="field_estabelecimento" name="estabelecimento" ng-model="vm.horarioFuncionamento.estabelecimentoId" ng-options="estabelecimento.id as estabelecimento.id for estabelecimento in vm.estabelecimentos"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
